
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'web_interface/loading-bar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'web_interface/style.css' %}">
<script src="{% static 'web_interface/app.js' %}"></script>
<script type="text/javascript" src="{% static 'web_interface/loading-bar.js' %}"></script>

</head>

<body>

<div id="loader" class="ldBar" data-value="50" style="visibility: hidden"></div>

<ul class="nav nav-tabs" id="navitemoverride">
  <li class="nav-item">
    <a class="nav-link active" href='{% url 'web_interface:index' %}'>Drinks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#"><s>Users</s></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{% url 'web_interface:shots' %}'>Shots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Mix</a>
  </li>
</ul>

{% if available_drinks %}
<h1>Choose a Drink:</h1>
<div id="card-colums" class="card-columns">
    {% for drink in available_drinks %}
    <div class="card">
        <img class="card-img-top" src='{{ drink.imageURL }}'>
        <div class="card-body">
            <h5 class="cart-title">{{ drink.name }} -- ${{ drink.cost }}</h5>
            <p class="card-text"><small class="text-muted">Created by {{ drink.user.name }}</small></p>
            <p class="card-text">{{ drink.description }}</p>
            <h6 class="card-title">Ingredients</h6>
            <ul>
                {% for pour in drink.pour_set.all %}
                <li><p>{{ pour.beverage }} ({{ pour.volume }} ml)</p></li>
                {% endfor %}
            </ul>
            <p class="card-text"><small class="text-muted">Ordered {{ drink.total_pours }} times</small></p>
            <button class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'web_interface:pour' drink.id %}'; move({{drink.id}}, {{drink.pourTime}})" type="button">Order This</button>
            <br>
            <div class="progress">
                <div id={{ drink.id }} class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% else %}
    <h1>No drinks are available.</h1>
{% endif %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
