
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'web_interface/style.css' %}">
</head>

<body>

<!--
{% if available_drinks %}
<h2>Choose a Drink:</h2>
    {% for drink in available_drinks %}


    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-back">
          {% for pour in drink.pour_set.all %}
          <p>{{ pour.beverage }}</p>
          {% endfor %}
          <button onclick="location.href='{% url 'web_interface:pour' drink.id %}'" type="button">Order This</button>
        </div>
        <div class="flip-card-front">
          <h1>{{ drink.name }}</h1>
          <p>{{ drink.description }}</p>
          <p>$ {{ drink.cost }}</p>
        </div>
      </div>
    </div>


    {% endfor %}
{% else %}
    <p>No drinks are available.</p>
{% endif %}
-->

<ul class="nav nav-tabs" id="navitemoverride">
  <li class="nav-item">
    <a class="nav-link active" href='{% url 'web_interface:index' %}'>Drinks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Users</a>
  </li>
</ul>

{% if available_drinks %}
<h2>Choose a Drink:</h2>
<div class="card-columns">

    {% for drink in available_drinks %}

    <div class="card">
        <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png">
        <div class="card-body">
            <h5 class="cart-title">{{ drink.name }}</h5>
            <p class="card-text"><small class="text-muted">Created by {{ drink.created_by }}</small></p>
            <p class="card-text">{{ drink.description }}</p>
            <h6 class="card-title">Ingredients</h6>
            <ul>
                {% for pour in drink.pour_set.all %}
                <li><p>{{ pour.beverage }} ({{ pour.volume }} ml)</p></li>
                {% endfor %}
            </ul>
            <p class="card-text"><small class="text-muted">Ordered {{ drink.total_pours }} times</small></p>
            <button class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'web_interface:pour' drink.id %}'" type="button">Order This</button>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
    </div>
</div>


    {% endfor %}
{% else %}
    <p>No drinks are available.</p>
{% endif %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
